{{- $root := index . "root" -}}
{{- $variant := index . "variant" -}}
{{- $brd := $root.black_rose_doll -}}
{{- $p := index $brd $variant -}}
{
  "document": {
    "block_prefix": "\n",
    "block_suffix": "\n",
    "color": "{{ index $p "text" }}",
    "margin": 2
  },
  "block_quote": {
    "indent": 1,
    "indent_token": "> "
  },
  "paragraph": {},
  "list": {
    "level_indent": 2
  },
  "heading": {
    "block_suffix": "\n",
    "color": "{{ index $p "text" }}",
    "bold": true
  },
  "h1": {
    "prefix": "# ",
    "suffix": " ",
    "color": "{{ index $p "pink" }}",
    "bold": true
  },
  "h2": {
    "prefix": "## ",
    "color": "{{ index $p "mauve" }}"
  },
  "h3": {
    "prefix": "### ",
    "color": "{{ index $p "lavender" }}"
  },
  "h4": {
    "prefix": "#### ",
    "color": "{{ index $p "blue" }}"
  },
  "h5": {
    "prefix": "##### ",
    "color": "{{ index $p "sapphire" }}"
  },
  "h6": {
    "prefix": "###### ",
    "color": "{{ index $p "sky" }}"
  },
  "text": {},
  "strikethrough": {
    "crossed_out": true
  },
  "emph": {
    "italic": true
  },
  "strong": {
    "bold": true
  },
  "hr": {
    "color": "{{ index $p "overlay0" }}",
    "format": "\n--------\n"
  },
  "item": {
    "block_prefix": "- "
  },
  "enumeration": {
    "block_prefix": ". "
  },
  "task": {
    "ticked": "[x] ",
    "unticked": "[ ] "
  },
  "link": {
    "color": "{{ index $p "blue" }}",
    "underline": true
  },
  "link_text": {
    "color": "{{ index $p "lavender" }}",
    "bold": true
  },
  "image": {
    "color": "{{ index $p "blue" }}",
    "underline": true
  },
  "image_text": {
    "color": "{{ index $p "lavender" }}",
    "format": "Image: {{ "{{.text}}" }} ->"
  },
  "code": {
    "prefix": " ",
    "suffix": " ",
    "color": "{{ index $p "pink" }}",
    "background_color": "{{ index $p "mantle" }}"
  },
  "code_block": {
    "color": "{{ index $p "mantle" }}",
    "margin": 2,
    "chroma": {
      "text": {
        "color": "{{ index $p "text" }}"
      },
      "error": {
        "color": "{{ index $p "text" }}",
        "background_color": "{{ index $p "red" }}"
      },
      "comment": {
        "color": "{{ index $p "overlay0" }}"
      },
      "comment_preproc": {
        "color": "{{ index $p "blue" }}"
      },
      "keyword": {
        "color": "{{ index $p "mauve" }}"
      },
      "keyword_reserved": {
        "color": "{{ index $p "mauve" }}"
      },
      "keyword_namespace": {
        "color": "{{ index $p "yellow" }}"
      },
      "keyword_type": {
        "color": "{{ index $p "yellow" }}"
      },
      "operator": {
        "color": "{{ index $p "sky" }}"
      },
      "punctuation": {
        "color": "{{ index $p "overlay2" }}"
      },
      "name": {
        "color": "{{ index $p "lavender" }}"
      },
      "name_builtin": {
        "color": "{{ index $p "peach" }}"
      },
      "name_tag": {
        "color": "{{ index $p "mauve" }}"
      },
      "name_attribute": {
        "color": "{{ index $p "yellow" }}"
      },
      "name_class": {
        "color": "{{ index $p "yellow" }}"
      },
      "name_constant": {
        "color": "{{ index $p "yellow" }}"
      },
      "name_decorator": {
        "color": "{{ index $p "pink" }}"
      },
      "name_exception": {},
      "name_function": {
        "color": "{{ index $p "blue" }}"
      },
      "name_other": {},
      "literal": {},
      "literal_number": {
        "color": "{{ index $p "peach" }}"
      },
      "literal_date": {},
      "literal_string": {
        "color": "{{ index $p "green" }}"
      },
      "literal_string_escape": {
        "color": "{{ index $p "pink" }}"
      },
      "generic_deleted": {
        "color": "{{ index $p "red" }}"
      },
      "generic_emph": {
        "color": "{{ index $p "text" }}",
        "italic": true
      },
      "generic_inserted": {
        "color": "{{ index $p "green" }}"
      },
      "generic_strong": {
        "color": "{{ index $p "text" }}",
        "bold": true
      },
      "generic_subheading": {
        "color": "{{ index $p "sky" }}"
      },
      "background": {
        "background_color": "{{ index $p "mantle" }}"
      }
    }
  },
  "table": {
    "center_separator": "+",
    "column_separator": "|",
    "row_separator": "-"
  },
  "definition_list": {},
  "definition_term": {},
  "definition_description": {
    "block_prefix": "\n=> "
  },
  "html_block": {},
  "html_span": {}
}
