from __future__ import annotations

import os
{{- if eq .mode "path" }}
import shutil
{{- end }}
from pathlib import Path

command = Path({{ .path | quote }})
{{- if eq .mode "path" }}
if not command.is_file():
    command = Path(shutil.which("dotfiles-scripts") or command)
{{- end }}
{{- if eq .mode "always" }}
os.execv(command, (command, "chezmoi", {{ .subcommand | quote }}))
{{- else }}
if command.is_file() and os.access(command, os.X_OK):
    os.execv(command, (command, "chezmoi", {{ .subcommand | quote }}))
{{- end }}
