{{- if ne .chezmoi.os "windows" -}}
{{- if eq .chezmoi.os "darwin" }}
# Use the same bitmap emoji font as Linux so generated assets match exactly.
[".local/share/fonts/NotoColorEmoji/NotoColorEmoji.ttf"]
type = "file"
url = "https://raw.githubusercontent.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf"
refreshPeriod = "168h"
{{ end }}

# ----- Oh-My-Zsh -----

[".oh-my-zsh"]
type = "archive"
url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
type = "archive"
url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
type = "archive"
url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/fzf-tab"]
type = "archive"
url = "https://github.com/Aloxaf/fzf-tab/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

# ----- Oh-My-Bash -----

[".oh-my-bash"]
type = "archive"
url = "https://github.com/ohmybash/oh-my-bash/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

# ----- fzf-tab-completion (bash) -----

[".fzf-tab-completion"]
type = "archive"
url = "https://github.com/lincheney/fzf-tab-completion/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

{{- end }}
