sourceDir = {{ .chezmoi.sourceDir | toToml }}
umask = 0o022

[add]
secrets = "error"
templateSymlinks = true

[diff]
exclude = ["scripts"]

[edit]
hardlink = true
watch = true

[status]
exclude = ["scripts"]
