<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>{{ system_macos_kanata.label }}</string>
    <key>ProgramArguments</key>
    <array>
      <string>{{ system_macos_kanata.app_bin }}</string>
      <string>--no-wait</string>
      <string>--cfg</string>
      <string>{{ system_macos_kanata.config }}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
      <key>Crashed</key>
      <true/>
      <key>SuccessfulExit</key>
      <false/>
    </dict>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>StandardOutPath</key>
    <string>{{ system_macos_kanata.log_path }}</string>
    <key>StandardErrorPath</key>
    <string>{{ system_macos_kanata.log_path }}</string>
  </dict>
</plist>
