<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
{% set daemon = system_macos_karabiner.install_root
  ~ '/Applications/'
  ~ system_macos_karabiner.executable
  ~ '.app/Contents/MacOS/'
  ~ system_macos_karabiner.executable
%}
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{ system_macos_karabiner.label }}</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{ daemon }}</string>
  </array>
  <key>UserName</key>
  <string>root</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Interactive</string>
  <key>StandardOutPath</key>
  <string>{{ system_macos_karabiner.log_dir }}/virtual_hid_device_service.log</string>
  <key>StandardErrorPath</key>
  <string>{{ system_macos_karabiner.log_dir }}/virtual_hid_device_service.log</string>
</dict>
</plist>
