#!/bin/sh

set -eu

# Kanata does not attach to keyboards that macOS connects after it starts.
# Bluetooth keyboards commonly appear well after launchd loads system daemons.
until /usr/sbin/ioreg -r -c IOHIDDevice -l -w 0 \
  | /usr/bin/grep -Fq \
    '"Product" = "{{ system_macos_logitech_keyboard.product_name }}"'
do
  /bin/sleep 1
done

exec "{{ system_macos_kanata.app_bin }}" \
  --no-wait \
  --cfg "{{ system_macos_kanata.config }}"
