# ignore macOS and Linux files
.DS_Store
Thumbs.db
*.DS_Store
*.swp

.devenv/
.direnv/
result

# You'll need to generate your own hardware-configuration 

# IDEs
**/.idea/
**/.vs/
**/.vscode/
**/packages/
