---
extends: default

ignore: |
  .ansible/
  .cache/
  .venv/
  ansible.cfg
  build*/
  dist/
  node_modules/
  packages/terminal-theme-tools/build*/
  packages/terminal-theme-tools/zig-pkg/
  result
  secrets/
  zig-pkg/

rules:
  braces:
    max-spaces-inside: 1
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable
  document-start: disable
  line-length: disable
  octal-values:
    forbid-explicit-octal: true
    forbid-implicit-octal: true
  truthy:
    check-keys: false
