[defaults]
home = .ansible
inventory = ansible/inventory/localhost.yml
roles_path = ansible/roles:.ansible/roles
library = ansible/library
collections_path = .ansible/collections:~/.ansible/collections:/usr/share/ansible/collections
filter_plugins = ansible/plugins/filter
interpreter_python = auto_silent
localhost_warning = false
display_skipped_hosts = false
retry_files_enabled = false
inject_facts_as_vars = false

[privilege_escalation]
become_ask_pass = true

[ssh_connection]
pipelining = true
