/* ----- IMPORTS ----- */



/* ----- INLINE CUSTOM STATUS ----- */
@import url("https://raw.githubusercontent.com/Bitslayn/RepluggedAddons/main/themes/btw.bitslayn.inlineStatus/raw/main.css"); /*  */



/* ----- CSS ----- */

/* ----- DON'T SHOW ME ACTIVITY ----- */

[class^='membersGroup']:has([role=button]),
[class^='member'] [class^='container']:has([class*='badges']) {
  display: none;
}



/* ----- HIDE PROFILE EFFECTS ----- */

[class^="profileEffects"] {
  display: none;
}



/* ----- FIX NEW POPUP BG ----- */

[class*="userPopoutOverlayBackground"] {
  max-height: 60vh;
}



/* ----- MUTE CHANNEL LIST EMOJIS ----- */

[class*="modeMuted_"]:has([class^="icon_"]) [class^="name_"] {
  color: var(--channel-icon);
  opacity: 40%;
}



/* ----- REMOVE APP LAUNCHER ----- */
[class*="channelAppLauncher_"] {
  display: none;
}
