[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata https://github.com/jtroo/kanata/blob/main/docs/setup-linux.md
Conflicts=input-remapper.service
Wants=systemd-udev-settle.service
After=systemd-udev-settle.service
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/local/bin/kanata --cfg /etc/kanata/kanata.kbd --symlink-path /run/kanata-main/main --wait-device-ms 2000 --no-wait
Restart=on-failure
RestartSec=2
DynamicUser=yes
RuntimeDirectory=kanata-main
RuntimeDirectoryMode=0755
SupplementaryGroups=input uinput
CapabilityBoundingSet=
DeviceAllow=/dev/uinput rw
DeviceAllow=char-input r
DevicePolicy=closed
IPAddressDeny=any
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateNetwork=true
ProcSubset=pid
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
UMask=0022

[Install]
WantedBy=multi-user.target
