{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env python3.14
{{ template "dotfiles_command_body.py.tmpl" (dict
  "mode" "always"
  "path" (joinPath .chezmoi.homeDir ".local/bin/dotfiles-scripts")
  "subcommand" "raycast-beta-patch"
) -}}
{{- end -}}
