{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env ruby
# frozen_string_literal: true

require "pathname"

brew = "/opt/homebrew/bin/brew"
brew_ruby = "/opt/homebrew/opt/ruby/bin/ruby"
repository = Pathname(ENV.fetch("CHEZMOI_WORKING_TREE"))
manager = repository/"libexec/raycast-manager.rb"

unless File.executable?(brew)
  warn "raycast: warning: Homebrew not installed; skipping"
  exit 0
end

unless File.executable?(brew_ruby)
  warn "raycast: error: Homebrew Ruby is not installed"
  exit 1
end

unless manager.file?
  warn "raycast: error: missing profile manager #{manager}"
  exit 1
end

exec brew_ruby, manager.to_s, "configure", "--if-present"
{{- end -}}
