#!/usr/bin/env python3.14
{{ template "dotfiles_command_body.py.tmpl" (dict
  "mode" "path"
  "path" (joinPath .chezmoi.homeDir ".local/bin/dotfiles-scripts")
  "subcommand" "desktop-integrations"
) -}}
