{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env ruby
# frozen_string_literal: true

require "pathname"

brew = "/opt/homebrew/bin/brew"
brew_ruby = "/opt/homebrew/opt/ruby/bin/ruby"
configurer = Pathname(Dir.home)/".local/libexec/private-application-configurer"

unless File.executable?(brew)
  warn "raycast: warning: Homebrew not installed; skipping"
  exit 0
end

unless File.executable?(brew_ruby)
  warn "raycast: error: Homebrew Ruby is not installed"
  exit 1
end

unless configurer.file?
  warn "raycast: error: missing private application configurer #{configurer}"
  exit 1
end

exec brew_ruby, configurer.to_s, "configure", "--if-present"
{{- end -}}
