/* ----- IMPORTS ----- */



/* ----- CSS ----- */

/* ----- DON'T SHOW ME ACTIVITY ----- */

[class^='membersGroup']:has([role=button]),
[class^='member'] [class^='container']:has([class*='badges']) {
  display: none;
}



/* ----- HIDE PROFILE EFFECTS ----- */

[class^="profileEffects"] {
  display: none;
}



/* ----- REMOVE APP LAUNCHER ----- */
[class*="channelAppLauncher_"] {
  display: none;
}
