[Unit]
Description=Refresh KMSCON theme
Documentation=https://github.com/kmscon/kmscon

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/kmscon-dotfiles
ExecStart=/usr/bin/python3.14 /usr/libexec/dotfiles/kmscon/kmscon-theme-config.py /usr/share/dotfiles/black_rose_doll_palette.json /etc/kmscon/kmscon.conf
ExecStartPost=/usr/bin/python3.14 /usr/libexec/dotfiles/kmscon/kmscon-refresh.py /etc/kmscon/kmscon.conf
